
.kce-title{
position:relative;
cursor:pointer;
}
.kce-button{
cursor:pointer;
height:20px;
width:20px;
}
.kce-question .kce-button{
position:absolute;
top:0;
right:0;
}
.boilerplate.kce-question .answer{
display:none;
}
.kce-table {
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.kce-table th,
.kce-table td {
    border-left: 1px solid #dddddd;
}
.kce-table thead:first-child tr:first-child th,
.kce-table tbody:first-child tr:first-child th,
.kce-table tbody:first-child tr:first-child td {
    border-top: 0;
}
.kce-table thead:first-child tr:first-child th:first-child,
.kce-table tbody:first-child tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.kce-table thead:first-child tr:first-child th:last-child,
.kce-table tbody:first-child tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.kce-table thead:last-child tr:last-child th:first-child,
.kce-table tbody:last-child tr:last-child td:first-child,
.kce-table tfoot:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
}

.kce-table thead:last-child tr:last-child th:last-child,
.kce-table tbody:last-child tr:last-child td:last-child,
.kce-table tfoot:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
}


.kce-table tbody tr:nth-child(odd) td,
.kce-table tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}
.kce-table th{
font-weight:700 !important;
}
.kce-table th,.kce-table td {
padding:0.4em !important;
}
.kce-table thead th,.kce-table tbody td {
text-align:right !important;
}
.kce-accordion.ui-widget-content{background-image:none}
/*
.kce-title{
position:relative;
border:1px solid;
border-bottom-style:dotted;
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
margin:0;
font-weight:700;
padding:0.4em;
}

.kce-content{
border:1px solid;
border-width: 0 1px 1px;
-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
background:#fff;
background:rgba(255, 255, 255, 0.5);
margin:0;
padding:0.4em
}
*/
